<div class="bg-orange">
    <div class="mw8 center pa3">
      <p class="fw4 tc white center">
        <a href="#" class="link dim f4">
          Request a free trial
        </a>
      </p>
    </div>
  </div>
<footer class="bg-near-black pa3">
  <div class="center mw8 w-100 lh-copy">
  <nav class="flex flex-row flex-wrap moon-gray">
    {% if site.data.theme.navigation.footer %}
    {% for link in site.data.theme.navigation.footer %}
      <a href="{{ domain }}{{ link.url }}" class="fw4 moon-gray hover-white link mr3" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title | capitalize }}</a>
    {% endfor %}
    {% endif %}
  </nav>
  <p class="moon-gray">
    <a href="{{ '/' | absolute_url }}" class="fw4 f6 hover-white link silver" title="{{ site.title }}">
      {{ site.title }} &copy; {{ site.time | date: '%Y' }}
    </a>
  </p>
</footer>
