<div class="bg-white shadow debug-grid">
  <div class="mw8-l w-100 center {% if page.sidebar %}center-l{% else %}center{% endif %}">
    <nav class="flex-ns items-center pa3 ph0-l">
      <a class="link dim black b f6 f5-ns w-100 w-30-m w-25-l flex items-center pb2 pb0-ns" href="{{ '/' | absolute_url }}" title="Home">
        <img src="/assets/images/security.svg" />{{ site.title }}
      </a>
      <div class="flex-ns items-center justify-end-ns w-100 w-75-l w-70-m">

      {% for link in site.data.theme.navigation.main %}
        {% if link.url contains 'http' %}
          {% assign domain = '' %}
        {% elsif link.url contains 'mailto' %}
          {% assign domain = '' %}
        {% else %}
          {% assign domain = site.url | append: site.baseurl %}
        {% endif %}
        <a href="{{ domain }}{{ link.url }}" class="link dim dark-gray f6 f5-ns dib mr4-ns mr2">{{ link.title }}</a>
      {% endfor %}
    </div>
      </nav>
  </div>
</div>
