---
layout: default
class: bg-light-gray
---

<section class="mt3 pa3 p0-ns">
  <div class="mw7 center">
    <div class="cf">
      <div class="fl w-100 w-50-ns">
        <h1 class="fw2">Driver Buddy Defence</h1>
        <h2 class="sub-headline fw3 dark-gray">
          Vehicle Security Systems
        </h2>
        <h3 class="fw3 black lh-copy">
          DBS is designed to provide <span class="b">easy to use, cost effective</span> and reliable security systems to Protect, Detect and Deter criminal activity against drivers, vehicles and freight
        </h3>
        <p>
          Available for:
        </p>
        <ul class="list pl0">
          <li class="mb3">
            <a class="link orange underline-hover flex items-center" href="#">
              <img src="/assets/images/android.svg" height="16" class="pr1" />
              Android
            </a>
          </li>
          <li>
            <a class="link orange underline-hover flex items-center" href="#">
              <img src="/assets/images/apple.svg" height="16" class="pr1" />
              iPhone
            </a>
          </li>
        </ul>
      </div>
      <div class="fl w-100 w-50-ns">
        <div class="tc">
          <img src="/assets/images/hero-phone-image.png" />
        </div>
      </div>
    </div>
  </div>
</section>

<section id="key-points" class="bg-white bg-center contain pt5-l pt3">
  <div class="cf mw8 pa3 center p0-ns ">
    {% for usp in site.data.theme.usps.home %}
    <div class="fl w-50-ns w-100 mb3-l mb2-m mb1">
      <div class="w-90">
        <div class="flex items-start">
          <img src="{{ usp.image }}" />
          <div class="pl3">
          <h2 class="fw4 bear-black mt0">
          {{ usp.title }}
        </h2>
        <p class="fw3 dark-gray">{{ usp.blurb }}</p>
      </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
  <footer class="bg-orange">
    <div class="mw7 center pa3">
      <p class="fw4 tc near-black center">
        <a class="link dim f4" href="#">
          Learn more...</a> <span class="ph3">or</span> <a href="#" class="link dim f4">Request a free trial</a>
          </p>
    </div>
  </footer>
</section>

<section class="flex justify-center mt3 pa3 p0-ns">
  <div class="mw8 w-100 ">
    <h3 class="f4 f3-ns fw3 mb0 pb2 bb b--light-gray">{{ site.data.theme.text.latest_articles | default: "Latest news" }}</h3>
    <div class="cf pa3 center p0-ns ">
      {% for news in site.data.theme.news.home limit: 4 %}
        <div class="fl w-25-ns w-50 mb3-l mb2-m mb1 pa2-ns">
          <a class="link db black-80 hover-silver" href="{{ post.url | relative_url }}">
            <article class="bg-white ba b--black-10 mw5 center">
              <img src="{{ news.image }}" class="db w-100" />
              <div class="pa3">
                <a class="lh-title link dim">
                  {{ news.title | escape }}
                </a>
                <p class="fw3 ">{{ news.blurb | remove: '<p>' | remove: '</p>' }}</p>
                <small class="gray db pv2">
                  {{ news.date }}
                </small>
              </div>
            </article>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
