---
layout: default
class: bg-light-gray
---

<section class="mt3 pa3">
  <div class="mw7 center">
    <div class="cf">
      <div class="fl w-100 w-50-ns">
        <h1 class="headline fw3 near-black">
          Driver Buddy Defence<sup>TM</sup> Vehicle Security Systems
        </h1>
        <h2 class="fw3 sub-headline lh-copy">
          Designed to provide <span class="b">easy to use, cost effective</span> and <span class="b">reliable</span> security systems to <span class="b">protect</span>, <span class="b">detect</span> and <span class="b">deter</span> criminal activity against drivers, vehicles and freight.
        </h2>
        <p>
          Available for:
        </p>
        <ul class="list pl0">
          <li class="mb3">
            <a class="link orange underline-hover flex items-center" href="#">
              <img src="/assets/images/android.svg" height="16" class="pr1" />
              Android
            </a>
          </li>
          <li>
            <a class="link orange underline-hover flex items-center" href="#">
              <img src="/assets/images/apple.svg" height="16" class="pr1" />
              iPhone
            </a>
          </li>
        </ul>
      </div>
      <div class="fl w-100 w-50-ns">
        <div class="tc">
          <img src="/assets/images/hero-phone-image.png" />
        </div>
      </div>
    </div>
  </div>
</section>

<section id="key-points" class="bg-white pt5-l pt3">
  <div class="mw7 center pa3">
    <p class="f4 fw3 tc mw7-ns">
      Our aim is to deliver a cost effective and reliable security systems to secure regional distribution networks throughout Europe and to to support the reduction of illegal operations.
    </p>
    <p class="fw4 tc center">
      <a class="link dim f4 orange underline" href="#">
        Learn more about the Driver Buddy System
      </a>
        </p>
  </div>

  <div class=" mw8 center pa3 p0-ns">
    <div class="flex flex-wrap">
    {% for usp in site.data.theme.usps.home %}
          <div class="w-50">
            <div class="flex items-start">
              <img src="{{ usp.image }}" />
              <div class="pl3">
              <div class="f5 lh-copy dark-gray">
              <span class="b">{{ usp.title }}</span>&nbsp;{{ usp.blurb }}
            </div>
          </div>
          </div>
        </div>
  {% endfor %}
</div>
</div>

</section>
