---
layout: default
class: bg-light-gray
---

<section class="mt3 pa3 p0-ns">
  <div class="mw7 center">
    <div class="cf">
      <div class="fl w-100 w-50-ns">
        <h1 class="headline fw3 near-black">
          Driver Buddy Defence<sup>TM</sup> Vehicle Security Systems
        </h1>
        <h2 class="fw3 sub-headline lh-copy">
          Designed to provide <span class="b">easy to use, cost effective</span> and <span class="b">reliable</span> security systems to <span class="b">protect</span>, <span class="b">detect</span> and <span class="b">deter</span> criminal activity against drivers, vehicles and freight.
        </h2>
        <p>
          Available for:
        </p>
        <ul class="list pl0">
          <li class="mb3">
            <a class="link orange underline-hover flex items-center" href="#">
              <img src="/assets/images/android.svg" height="16" class="pr1" />
              Android
            </a>
          </li>
          <li>
            <a class="link orange underline-hover flex items-center" href="#">
              <img src="/assets/images/apple.svg" height="16" class="pr1" />
              iPhone
            </a>
          </li>
        </ul>
      </div>
      <div class="fl w-100 w-50-ns">
        <div class="tc">
          <img src="/assets/images/hero-phone-image.png" />
        </div>
      </div>
    </div>
  </div>
</section>

<section id="key-points" class="bg-white pt5-l pt3">
  <div class="mw7 center pa3">
    <p class="f4 fw3 tc mw7-ns">
      Our aim is to deliver a cost effective and reliable security systems to secure regional distribution networks throughout Europe and to to support the reduction of illegal operations.
    </p>
    <p class="fw4 tc center">
      <a class="link dim f4 orange underline" href="#">
        Learn more about the Driver Buddy System
      </a>
        </p>
  </div>

  <div class="cf mw8 center pa3 p0-ns">
    {% for usp in site.data.theme.usps.home %}
    <div class="fl w-25-l w-100 w-50-m mb3-l mb2-m mb1">
        <div class="tc">
          <img src="{{ usp.image }}" width="64"/>
          <h1 class="fw4 bear-black mt4-ns mt3">
          {{ usp.title }}

        </h1>
        <!-- <p class="f4 fw3 dark-gray">{{ usp.blurb }}</p> -->
        <ul class="list lh-copy ph0">
        {% for bullet in usp.bullets %}
        <li>
        &ndash;&nbsp;{{ bullet.title }}
      </li>
        {%endfor %}
      </ul>

    </div>
  </div>
  {% endfor %}
</div>

</section>

<section class="flex justify-center mt3 p0-ns pa3">
  <div class="mw8 w-100 ">
    <h3 class="f4 f3-ns fw3 mb0 pb2 bb b--light-gray">{{ site.data.theme.text.latest_articles | default: "Latest news" }}</h3>
    <div class="cf center">
      {% for news in site.data.theme.news.home limit: 4 %}
        <div class="fl w-25-l w-50-m w-100">
          <a class="link db black-80 hover-silver" href="{{ post.url | relative_url }}">
            <article class="bg-white ba b--black-10  mb3 mr3-ns">
              <img src="{{ news.image }}" class="db w-100" />
                <div class="pa3">
                <a class="lh-title link dim">
                  {{ news.title | escape }}
                </a>
                <p class="fw3 ">{{ news.blurb | remove: '<p>' | remove: '</p>' }}</p>
                <small class="gray db">
                  {{ news.date }}
                </small>
              </div>
            </article>
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
